.DisplayComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 5px solid #f40f0f;
    border-radius: 5px;
    background-color: #f2f2f2;
}